{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username">
                <input type="password" name="password">
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
