{% extends 'base.html' %}

{% block title %}
    Projects List
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url "create_project" %}">Create a new project</a>
            {% if project_list.all|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                        <tbody>
                            {% for project in project_list%}
                                <tr>
                                    <td><a href="{% url "show_project" project.pk %}">{{ project.name }}</a></td>
                                    <td>{{ project.tasks.all|length}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
